<!-- <div class="chores">
    <h3>Chores</h3>
    <ul>
        <li *ngFor = 'let chore of chores'>{{chore}}</li>
    </ul>
</div>
<hr>
<div class="doneChores">
    <h3>Done Chores</h3>
    <ul>
        <li *ngFor = 'let done of finishedChores'>{{done}}</li>
    </ul>
</div>
<hr> -->

<div class="chores">
    <h3>Chores</h3>
    <ul>
        <li *ngFor = 'let chore of chores'>{{chore}}</li>
        <!-- Chpt 30.3.2 Try It 1/2 display/not line below based on conditional. -->
    </ul>
    <p style="color:royalblue" *ngIf = "chores.length > finishedChores.length">Work harder!</p>
</div>
<hr>
<div class="doneChores">
    <h3>Done Chores</h3>
    <ul>
        <li *ngFor = 'let done of finishedChores'>{{done}}</li>
    </ul>
    <!-- Chpt 30.3.2 Try It 3/4 display/not line below based on conditional. -->
    <img src='{{targetImage}}' alt='LaunchCode Rocket' *ngIf = "chores.length === 0 || finishedChores.length - chores.length >= 3; else noAllowance">
</div>
<hr>

<!-- Chpt 30.3.2 Try It 5 "if" of if/else display line below based on conditional. -->
<h1 style='color:green' *ngIf = 'chores.length === 0 && finishedChores.length >= 4; else iceCream'>Ice cream treat!</h1>

<!-- Chpt 30.3.2 Try It 3/4 display/not line below based on conditional. -->
<ng-template #noAllowance>
    <p style='color:red'>No allowance yet.</p>
</ng-template>

<!-- Chpt 30.3.2 Try It 5 "else" of if/else display line below based on conditional. -->
<ng-template  #iceCream >
    <div class="treat" style='color:green'>
        <h3>To earn an ice cream treat:</h3>
        <p>The Chores list must be empty.</p>
        <p>The Done list must have at least 4 items.</p>
    </div>
</ng-template>